<div ng-app="Event" ng-controller="EventController">
  <div ng-controller="UserPromptController">
  </div>
<h2>{{ title }}</h2>
<div id="description">
  {{ desc }}
</div>
<div id="time">
  {{ time }}
</div>
<div id="location">
  {{ location }}
</div>
<br/>
<div ng-controller="ButtonsCtrl">
<div class="btn-group" ng-click="updateStatus()">
    <button type="button" class="btn btn-primary" ng-model="currentUserStatus" btn-radio="'Attending'">Count me in!</button>
    <button type="button" class="btn btn-primary" ng-model="currentUserStatus" btn-radio="'Maybe'">I might go</button>
    <button type="button" class="btn btn-primary" ng-model="currentUserStatus" btn-radio="'Not Attending'">meh.</button>
</div>
</div>
<div id="comments" ng-controller="CommentsController">
  <h3> Comments </h3>
  <form ng-submit="addComment()">
    <input type="text" ng-model="comment" placeholder="Add a comment">
  </form>
  <ul style='list-style-type:none'>
    <li ng-model='comments' ng-repeat="comment in comments">
      {{ comment }}
    <li>
  </ul>
</div>
<div id="Attendees" ng-controller="InviteesController">
  <h3> Attendees </h3>
  {{ Invitees }}
  <h5>Attending:</h5>
  <div ng-repeat='name in attending'>
    {{ name }}
  </div>
  <h5>Maybe Attending:</h5>
  <div ng-repeat='name in maybeAttending'>
    {{ name }}
  </div>
  <h5>  Not Attending:</h5>
  <div ng-repeat='name in notAttending'>
    {{ name }}
  </div>
</div>
<div id="Map">
  <h3>Map</h3>
  <img src={{map}}></img>
</div>
</div>
