<button id="logoutButton" ng-controller="LogoutController" ng-click="logout()" ng-hide="hideLogout">Logout</button>
<div ng-app="Event" ng-controller="EventController" class="well">
  <div ng-controller="UserPromptController">
  </div>
<h2 class="page-header">{{ title }}</h2>
<div class="col-lg-12">
  {{ desc }}
</div>
<div class="col-lg-12">
  {{ time }}
</div>
<div class="col-lg-12">
  {{ location }}
</div>
<br/>
<div ng-controller="AttendanceController">
  <div class="btn-group" ng-click="updateStatus()">
      <button type="button" class="btn btn-primary" ng-model="currentUserStatus" btn-radio="'Attending'">Count me in!</button>
      <button type="button" class="btn btn-primary" ng-model="currentUserStatus" btn-radio="'Maybe'">I might go</button>
      <button type="button" class="btn btn-primary" ng-model="currentUserStatus" btn-radio="'Not Attending'">meh.</button>
  </div>
</div>
</br>
<div id="comments" ng-controller="CommentsController">
  <legend> Comments </legend>
  <form ng-submit="addComment()">
    <input class="form-control" type="text" ng-model="comment" placeholder="Add a comment">
  </form></br></br></br>
  <div>
  <div class="list-group-item" ng-model='comments' ng-repeat="comment in comments">
    {{ comment }}
  </div>
  </div>
</div>
</br>
<div id="Attendees" ng-controller="AttendanceController">
  <legend> Attendees </legend>
  <h4>Attending:</h4>
  <div class="list-group-item" ng-repeat='name in attending'>
    {{ name }}
  </div>
  <h4>Maybe Attending:</h4>
  <div class="list-group-item"  ng-repeat='name in maybeAttending'>
    {{ name }}
  </div>
  <h4>  Not Attending:</h4>
  <div class="list-group-item"  ng-repeat='name in notAttending'>
    {{ name }}
  </div>
</div>
</br>
<div id="Map">
  <legend>Location</legend>
  <img src={{map}}></img>
</div>
</div>
