h1 {
  width: 400px;
  background-color: #FAFAFA;
  padding: 10px;
}

body{
  font-family: sans-serif;
  background-color: #F2F2F2;
}

#comments{
  width: 400px;
  border-style: solid;
  border: 1px #FFFF;
}

#eventForm{
  background-color: #D8D8D8;
  border-radius: 10px;
  border-style: dotted;
  border: 0.5 #333333;
  width:  400px;
  padding: 10px;
  margin: 5px;
  border: 5px;
}

input{
  padding: 2px;
  margin: 5px;
}

label{
  padding: 10px;
  margin: 10px;
}